<p class="text-xl font-semibold mb-6 px-4">
  Películas Populares
</p>

<section>
  <input
    #searchInput
    type="text"
    placeholder="Buscar película..."
    class="w-full p-2 border border-gray-300 rounded mb-4"
    (keyup)="onSearchChange($event)"
  />
</section>

<section
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4"
>
  @for (
    popularMovie of filteredMovies();
    track popularMovie.id
  ) {
    <app-home-card [movie]="popularMovie" />
  }
</section>
