/* 1. El contenedor del modal (oscurece el fondo) */
.sh-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Fondo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  /* ESTO ES LO IMPORTANTE: Ocultarlo por defecto */
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

/* 2. Cuando el servicio emite 'true', se activa esta clase */
.sh-modal.is-active {
  opacity: 1;
  visibility: visible;
}

/* 3. La ventanita blanca (o del color que prefieras) */
.sh-modal__window {
  background-color: #fff;
  color: #333;
  padding: 2.5rem;
  border-radius: 1rem;
  position: relative;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.sh-modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

:host {
  display: block;
  padding: 2rem;
  background-color: var(--third-color);
}
.sh-reservation-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sh-reservation-form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sh-reservation-form__field label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.sh-reservation-form__field input {
  padding: 0.25em 0.5rem;
  border: 2px solid #a9adac;
  border-radius: 0.25rem;
  outline: none;
  background-color: #4e4d4d;
  color: #fff;
  transition: border-color 0.3s ease-out;
}
.sh-reservation-form__field input:focus {
  border-color: var(--primary-color);
}
.sh-reservation-modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.sh-reservation-modal__title {
  font-size: 2rem;
  margin-block-end: 1rem;
}
.sh-reservation-modal article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sh-reservation-modal input {
  border: 1px solid #fff;
}
